html,
h1,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.header {
    width: 100vw;
    height: 10vh;
    background-color:purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    color:white;
}

.content {
    width: 100vw;
    min-height: 85vh;
    background-color:#3C1956;
    display: flex;
    flex-flow: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mod {
    margin-top:1vw;
    background-color: white;
    width: 65vh;
    border-radius: 1vh;
    min-height: 20vh;
}

.mod h2 {
    margin: 0;
    padding-top: 1vh;
    text-align: center;
    color:teal;
}

.attribute {
    background-color: lightgray;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    padding-top: 1vh;
    padding-left: 1vh;
    border-radius: 1vh;
    font-family: "Lato";
    font-size: 3vh;
    justify-content: center;
}

.footer {
    width: 100vw;
    height: 5vh;
    background-color: white;
}
