html,
h1,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.header {
    width: 100vw;
    height: 10vh;
    background-color:plum;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    color:white;
}

.content {
    width: 100vw;
    min-height: 85vh;
    background-color:purple;
    display: flex;
    flex-flow: center;
    flex-wrap: wrap;
}

.mod {
    margin-top:1vw;
    background-color: white;
    width: 65vh;
    max-height: 65vh;
    margin-left: 1vw;
    border-radius: 1vh;
}

.mod h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer {
    width: 100vw;
    height: 5vh;
    background-color: plum;
}
